
$bgc:linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
.mark{
	width:20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:4px;
	border-radius: 50%;
	border: 2px solid grey;
	cursor: pointer;
}
.blank{

}
.filled{
	
	background:$bgc;
	border:0px;
}
.mark:hover{
	border: 2px solid rgba(172, 56, 249, 0.627);;
}
.mark.active{
	// background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	
}